@import './font/stylesheet.css';
$section-heading: calc(50px + 1.5vw);
$big-heading: calc(20px + 1.5vw);
$small-heading: calc(10px + 0.8vw);
$normal-text: calc(9px + 0.4vw);
$small-text: calc(9px + 0.3vw);
$black:#263238;
$yellow:#e5e79d;
$red:#9D2628;
$bg: #f5fcfc;
$orange:#e7c49d;
$dark-orange:#c77a30;
$light-turq: #ebf9fa;
$turquoise: #9DE5E7;
$dark-turq: #269D9B;
$darker-turq: #1E7171;
//config for the main section (full width/height)
@mixin main-section {
    width: 100vw;
    height: 100vh;
    font-family: 'Spartan MB', sans-serif;
    overflow: hidden;
    position: relative;
}

//for any div that centers their children
@mixin center-parents {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

//setting for links to omit underline and purple visited.
a {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    &:visited {
        color: $orange;
    }
}

.nav {
    @include center-parents();
    font-family: "Spartan MB", sans-serif;
    position: fixed;
    height: 12%;
    width: 50vw;
    top: 5vh;
    z-index: 2001;
    .nav-wrapper {
        @include center-parents();
        justify-content: space-between;
        width: 67%;
        height: 100%;
        img {
            height: 100%;
        }
        nav>a {
            padding: 0.3rem 0.5rem;
            font-size: $small-text;
            color: $turquoise;
            font-weight: 600;
            border-bottom: 2px solid $turquoise;
            transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        a.active {
            border-color: $orange;
            color: $dark-orange;
        }
    }
    //the wrapper of menubutton
    .nav-select {
        @include center-parents();
        //naving button menu
        button {
            border: none;
            background-color: transparent;
            padding: 0;
            outline: none;
            top: 0;
        }
    }
    .stick-figure {
        width: 2rem;
        position: relative;
        z-index: 3000;
        height: 1.5rem;
        margin: auto;
        cursor: pointer;
        .stick {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            width: 2rem;
            background-color: $dark-turq;
            height: 0.15rem;
            transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        .top {
            transform: translateY(0.4rem);
        }
        .bottom {
            transform: translateY(-0.4rem);
        }
        .open.top {
            transform: rotate(45deg);
        }
        .open.bottom {
            transform: rotate(-45deg);
        }
        .open.mid {
            transform: translateX(-2rem) scale(0, 0);
        }
    }
    .menu {
        @include center-parents();
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        background: $turquoise;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        nav {
            display: flex;
            flex-direction: column;
            a {
                font-weight: 600;
                color: $darker-turq;
                font-size: $big-heading;
                margin: 0.3rem 0;
            }
        }
    }
}

.section-intro {
    flex-direction: column;
    position: absolute;
    text-align: right;
    z-index: 4000;
    margin: auto;
    right: 0;
    pointer-events: none;
    h1 {
        font-size: $section-heading;
        font-weight: 300;
        color: $dark-turq;
        margin: 0 2rem;
        right: 0;
    }
}

.section {
    @include main-section();
    background-color: $bg;
    display: flex;
    color: $black;
}

.section-left,
.section-right {
    @include center-parents();
    flex: 1;
    text-align: left;
    overflow-y: hidden;
    overflow-x: hidden;
}

.section-left {
    flex-grow: 1;
    flex-direction: column;
}

.section-right {
    background-color: $darker-turq;
    overflow-x: hidden;
    position: relative;
    flex-direction: column;
    z-index: 1000;
}

.illustration {
    width: 90%;
    margin: auto;
}

.titles {
    width: 70%;
    h1 {
        margin: auto;
        font-weight: 400;
        font-size: $big-heading;
    }
    p {
        font-size: $normal-text;
    }
    span {
        color: $dark-turq;
    }
    span.secondary-span {
        color: $dark-orange;
    }
}

.button-wrapper {
    @include center-parents();
    position: absolute;
    background: $bg;
    width: 70%;
    height: 40%;
    justify-content: end;
    bottom: 0%;
}

.explore-button {
    border: none;
    border-radius: 0;
    background: linear-gradient(to right, $turquoise 50%, $dark-orange 50%, $dark-orange 60%, $dark-turq 60%, $dark-turq 100%);
    background-size: 250% 100%;
    background-position: right;
    position: absolute;
    top: 0;
    color: $light-turq;
    padding: 0.7rem 1.9rem;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: $normal-text;
    color: $bg;
    font-weight: 600;
    font-family: "Spartan MB", sans-serif;
    &:hover {
        background-position: left;
        color: $dark-orange;
    }
}

#About {
    .section-left {
        flex-direction: row;
        .about-content {
            @include center-parents();
            width: 50%;
            height: 100%;
            width: 100%;
            .about-titles {
                width: 70%;
                .title-child {
                    margin: 3rem 0;
                    p {
                        margin: 0;
                        font-size: $normal-text;
                    }
                }
            }
            .button-wrapper {
                position: relative;
                background: transparent;
                height: auto;
            }
            .pic-holder {
                position: relative;
                @include center-parents();
                display: grid;
                grid-template-columns: 20% 20% 20% 20% 20%;
                grid-template-rows: 70% 30%;
                grid-template-areas: "hero hero hero hero hero" "kid1 kid1 kid2 kid2 kid2";
                row-gap: 0.3rem;
                column-gap: 0.3rem;
                width: 85%;
                height: 70%;
                img {
                    object-fit: cover;
                }
                .hero-pic {
                    width: 100%;
                    height: 100%;
                    grid-area: hero;
                }
                .kid-pic {
                    width: 100%;
                    height: 100%;
                    grid-area: kid1;
                }
                .kid2-pic {
                    width: 100%;
                    height: 100%;
                    grid-area: kid2;
                }
            }
        }
    }
}

#Courses {
    .section-intro {
        left: 0;
        right: auto;
        text-align: left;
        h1 {
            color: $bg;
        }
    }
    .courses-panel {
        @include center-parents();
        position: relative;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        column-gap: 1rem;
        row-gap: 1rem;
        width: 90%;
        height: 60%;
        .course {
            @include center-parents();
            flex-direction: column;
            position: relative;
            width: 100%;
            height: 100%;
            background: $light-turq;
            overflow: hidden;
            .course-img {
                @include center-parents();
                position: absolute;
                overflow: hidden;
                width: 100%;
                height: 60%;
                top: 0;
                img {
                    object-fit: cover;
                    width: 250%;
                }
            }
            .course-des {
                @include center-parents();
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 40%;
                .course-des-wrapper {
                    width: 90%;
                    h2 {
                        font-weight: 500;
                        color: $darker-turq;
                        font-size: $small-heading;
                        margin-top: 0;
                    }
                    p {
                        color: $black;
                        font-size: $small-text;
                    }
                }
            }
        }
    }
}

#Contacts {
    .section-right {
        //intro text pop up when scrolling
        .intro-contact {
            left: 0;
            right: 0;
            text-align: center;
            span {
                color: $turquoise;
            }
        }
        //regular titles
        .titles {
            text-align: left;
            h1 {
                color: $turquoise;
                margin-bottom: 3vh;
                span {
                    color: $orange;
                }
            }
        }
        form {
            display: flex;
            flex-direction: column;
            .field-splitter {
                display: grid;
                grid-template-columns: 50% 50%;
                input.name {
                    width: 90%;
                }
            }
            label {
                font-size: $small-text;
                font-weight: 500;
                color: $turquoise;
            }
            input,
            textarea {
                border: none;
                outline: none;
                border-radius: 0;
                margin-bottom: 4vh;
                margin-top: 1vh;
                padding: 0.4rem 0;
                color: $turquoise;
                font-size: $small-text;
                font-family: "Spartan MB", sans-serif;
                background: transparent;
                transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
                border-bottom: $dark-turq 2px solid;
                &::placeholder {
                    color: $dark-turq;
                }
                &:focus {
                    outline: none;
                    border-bottom: $turquoise 2px solid;
                }
            }
            .explore-button {
                position: static;
                width: 8rem;
                color: $dark-turq;
                background: linear-gradient(to right, $turquoise 50%, $orange 50%, $orange 100%);
                background-size: 200% 100%;
                background-position: right;
                &:hover {
                    background-position: left;
                    color: $dark-orange;
                }
            }
        }
    }
    .section-left {
        //let's talk section
        .intro-contact {
            left: 0;
            right: 0;
            text-align: center;
        }
        h5 {
            font-size: $small-text;
            margin-top: 4vh;
            margin-bottom: 1vh;
        }
        a {
            color: $dark-turq;
        }
        p {
            margin: 0.5vh 0;
        }
    }
}

@media (max-width:1000px) {
    .courses-panel {
        grid-template-columns: 50% 50% !important;
        grid-template-rows: 50% 50%;
    }
}

@media (max-width: 800px) {
    .nav {
        width: 100%;
        top: 0;
        .nav-wrapper {
            width: 90%;
        }
    }
    .section {
        flex-direction: column;
    }
    .titles {
        width: 90% !important;
    }
    .button-wrapper {
        width: 90%;
    }
    #About {
        .section-left {
            flex-direction: column-reverse;
            .about-content {
                height: auto;
                width: 100%;
                .titles {
                    .title-child {
                        margin: 1.3rem 0;
                    }
                }
                .pic-holder {
                    height: 80%;
                }
            }
        }
    }
    #Courses {
        .courses-panel {
            height: 65%;
            grid-template-columns: 100% !important;
            grid-template-rows: 25% 25% 25% 25%;
            .course {
                .course-img {
                    height: 100%;
                }
                .course-des {
                    height: 80%;
                    background: rgba(235, 249, 250, 0.9);
                }
            }
        }
    }
    #Contacts {
        .section-left {
            padding-top: 8vh;
        }
        .section-right {
            .contact-links {
                flex-direction: row;
            }
        }
    }
}